@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    /* background: #0CEBEB; */
    background-image: url(../images/login-back.png);
    background-position: center bottom;
    /* background-repeat: no-repeat; */
        background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;

    animation: r 100s linear infinite;
}


@keyframes r {
    from {
        background-position: 0 bottom;
    }

    to {
        background-position: -4792px bottom;
    }
}

.atlas-logout-box {
    z-index: 1;
    position: absolute;
    padding: 100px;
    background: #fff;
    border: 2px solid #000;
    top: 200px;
}
.logout-atlas {
    display: block;
    padding-top: 120px;
    margin: 0 auto;
    width: 20%;

}

.logout-container {
    margin: 0 auto;
    text-align: center;
}
.welcome-img {
        display: block;
        margin: 0 auto 20px auto;
        text-align: center;
        padding-top: 16px;
        width: 16%;
    }


.label-text {
    display: block;
    text-align: left;
    width: 20%;
    margin: 0 auto;
    font-weight: bold;
    padding: 5px 0;
}
.logout-container .input {
    display: block;
    width: 20%;
    height: 30px;
    margin: 0 auto 10px auto;
    border: 4px solid #000;
    border-radius: 2px;
}

.heart-img {
    display: block;
    position: absolute;
    width: 5%;
    top: 280px;
    left: 20%;
    animation: rotate 1.1s steps(8) 0s infinite;
    }

    @keyframes rotate {

        0%, 100% {
          transform: rotate(10deg);
        }

        50% {
          transform: rotate(-10deg);
        }
    }


.heart-img2 {
    display: block;
    position: absolute;
    width: 4%;
    top: 60px;
    right: 30%;
    animation: rotate 1.1s steps(8) 0s infinite;
}

.heart-img3 {
    display: block;
    position: absolute;
    width: 3%;
    top: 400px;
    right: 22%;
    animation: rotate 1.1s steps(8) 0s infinite;
}

.angel {
    display: block;
    position: absolute;
    width: 4%;
    top: 200px;
    /* left: 0; */
    right: 20%;

}

.up-down {
    /* アニメーションの名前 */
    animation-name: UpDown;
    /* アニメーションの１回分の長さ */
    animation-duration: 1.5s;
    /* アニメーションの回数 */
    animation-iteration-count: infinite;
    /* アニメーションの進行具合 */
    animation-timing-function: ease-in-out;
    /* アニメーション再生の向き */
    animation-direction: alternate;
}

/* アニメーションの設定 */
@keyframes UpDown {

    /* 開始地点 */
    0% {
        /* Y軸0px */
        transform: translateY(0);
    }

    /* 終了地点 */
    100% {
        /* Y軸50px */
        transform: translateY(50px);
    }
}



.login-next {
    box-shadow: 0 4px 0 #fff;
    position: relative;
    background: #000;
    padding: 10px 6px;
    border-radius: 2px;
    width: 20%;
    height: 40px;
    margin: 30px auto;
}
.login-next:hover {
    transform: translateY(4px);
    box-shadow: none;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.next-img {
    position: absolute;
    width: 4%;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
}

.login-btn input {
    border: none;
    /* background-color: #000; */
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background-color: rgb(255, 255, 255) !important;
    /* background-color: #fff!important; */
    /* width: 20%; */
    }

input {
        background-color: #fff !important;
        /* color: #fff !important; */
        appearance: none;
}


.login-btn-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    }


.new-user {
display: block;
/* color: #0C92EB; */
margin-top: 10px;
}

.new-user:hover {
/* color: #0C92EB; */
opacity: 0.6;
transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.new-user-design {
color: #000!important;
font-weight: bold;
}

/* register画面 */

.register-body {
    height: 80%;

}

.register-btn {
    height: 30px!important;
    margin: 20px auto !important;
}

.register-next {
    width: 2%!important;
}
