@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body{
    margin: 0;
    font-family: "M PLUS 1p", "Segoe UI", "Meiryo", "system-ui", "-apple-system", "BlinkMacSystemFont", sans-serif;
    color: #36303F;
    font-size: 16px;
}

p {
    line-height: 1.2;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}
/* header */

/* main content */
#row{
    position: relative;
    /* padding: 10px; */
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
    word-wrap: break-word;
}
#container {
    max-width: calc(100% - 20%);
}

#head {
    display: flex;
    align-items: center;
    height: 70px;
    background: #00AFE2;
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.25));
}

.head-design {
    position: relative;
}

.logo-img img{
    display: block;
    width: 80px;
    padding-left: 20px;
}

 .header-list {
    padding-right: 20px;
    display: flex;
    margin: 0 0 0 auto;
}
 .header-list .user-profile {
    margin: 0;
}
 .header-list .header-icon {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

 .header-list .header-menu {
    height: 20px;
}

.username-box {
    float: left;
    font-weight: bold;
    color: #fff;
}

.user-profile img {
    display: block;
    /* height: 30px; */
    width: auto;
    float: left;
}
/* メニューボタン */



.dli-chevron-down  {
    cursor: pointer;
}

.dli-chevron-up  {
    cursor: pointer;
}


.overlay {
    z-index: 4;
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}
.active {
    transform: translateX(0);
}

.edit {
    width: 400px;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.edit.show {
    opacity: 1;
    pointer-events: auto;
    width: 248px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

}

.overlay li {
    color: #000;
    display: block;
    padding: 24px;
    font-weight: bold;
    border: 2px solid #000;
    width: 20%;
    text-align: center;
    margin: 6% auto;
    border-radius: 4px;
    background: #fff;
    filter: drop-shadow(-2px 10px 3px rgb(3, 60, 60, 0.15));
}
.overlay li:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    transition: 0.3s;
}

.overlay li a {
    color: #36303F;
    text-align: right;
}


/* サイドバー */

#side-bar {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 0;
    width: 20%;
    height: 1000px;
    border-left: 3px solid rgb(239, 243, 244);;
    padding: 2rem;
    background: #fff;

}

.follow {
    display: flex;
    justify-content: space-between;
}
.follow:nth-child(1) {
    font-weight: bold;
}

.follow-btn {
    display: block;
    /* font-size: 12px; */
    color: #000;
    /* background: #a8ddd9; */
    padding: 0.6rem;
    width: 100%;
    margin: 10px 0 10px auto;
    text-align: center;
    padding-bottom: 5px;
    position: relative;
}


.follow-btn::before {
    background: rgb(239, 243, 244);
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}

.follow-btn:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.follow .totall {
    font-weight: bold;
    margin-right: 6px;
}
.follow-btn .totall-after {
   color: gray;
   font-size: 0.9rem;
}


.confirm p {
    display: block;
    margin-top: 10px;
}
.confirm .user-name {
    font-weight: bold;
    text-align: center;
}


.login-next {
    text-align: center;
    font-weight: bold;
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    width: 100%;
    margin: 30px auto;
    color: #000;
    padding: 1rem;
}
.login-next:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    transition: 0.3s;
}
.search-all .follow-btn {
    text-align: center;
    font-weight: bold;
    background: #00AFE2;
    border: 2px solid #00AFE2;
    border-radius: 4px;
    width: 100%;
    margin: 30px auto;
    color: #fff;
    padding: 1rem;
}
.search-all .search-after {
    font-weight: bold;
    margin-top: 1rem;
}
.search-all.follow-btn:hover {
    background-color: #fff;
    color: #00AFE2;
    border: 2px solid #00AFE2;
    transition: 0.3s;
}
.by {
    text-align: center;
    font-weight: bold;
    background: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    width: 10rem;
    margin: 30px auto;
    color: #000;
    padding: 1rem;
}
.by:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    transition: 0.3s;
}


/* プロフィール編集画面 */

.editing-all {
    width: 60%;
   margin: 0 auto;
}

.editing-all .editing-user-icon {
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.25));
    text-align: center;
    margin: 2rem 0;
}
.editing-all .editing-user-icon img {
    border-radius: 50%;
}

.editing-all button{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.editing-all button input{
    background-color: #fff;
    font-weight: bold;
    color: #000;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 1rem;
    margin: 2rem;
    width: 20rem;
}
.editing-all button input:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    transition: 0.3s;
    cursor: pointer;
}

.editing-list {
    width: 100%;
}
.editing-list .error {
    color: red;
    width: 20rem;
    margin-right: 0;
    margin-left: auto;
    margin-top: 16px;
    text-align: center;
}
.editing-list .editing-input input {
    padding: 1rem;
    width: 20rem;
}
.editing-list .profile-editing-icon {
    width: 20rem;
}
.user-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}
.user-profile p:nth-child(1) {
    font-weight: bold;
}


/* 投稿画面 */

.tweet {
    display: flex;
    justify-content: center;
    padding: 16px;
    height: 120px;
    margin-top: 30px;
    border-bottom: solid 3px rgb(239, 243, 244);
    position: relative;
}
.tweet .top-icon {
    height: 70px;
    width: 70px;
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.2));
    border-radius: 50%;
}

.tweet-icon {
    margin: auto 10px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.2));
    border-radius: 50%;
}
.top-list-images {
    position: absolute;
    top: 0%;
    padding-top: 10px;
    transform: translateY(-0%);
}

/* .list-icon {
    position: absolute;
} */
.main {
    min-height: 8rem;
    border-bottom: solid 1px rgb(239, 243, 244);
    position: relative;
    padding: 16px;
}
.tweet-list .posts {
    padding-left: 70px;
    width: 100%;
}
.tweet-list .post-list {
    display: flex;
    align-items: center;
    width: 100%;
}
.tweet-text {
    padding: 0 1rem;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

.posts .posts-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}
.posts .posts-top .name-child {
    font-weight: bold;
}
.posts .posts-top .date {
    color: rgb(83, 100, 113);
    font-size: 0.9rem;
}
.post {
    white-space: pre-wrap;
}
.tweet-btn {
        text-align: center;
        font-weight: bold;
        background: #00AFE2;
        border: 2px solid #00AFE2;
        border-radius: 4px;
        width: 10%;
        height: 40px;
        color: #fff;
        padding: 0 1rem;
        margin-bottom: 0;
        margin-top: auto;
}
.tweet-btn:hover {
        background: #fff;
        border: none;
        border: 2px solid #00AFE2;
        color: #00AFE2;
        cursor: pointer;
        transition: 0.3s;

}

 input::-webkit-input-placeholder {
     padding-top: 0.2em;
 }


 .pop {
     z-index: 4;
     position: fixed;
     top: 60px;
     right: 0;
     width: 200px;
     background-color: #fff;
     text-align: center;
     opacity: 0;
     pointer-events: none;
     transition: opacity .6s;
 }

 .tweet-wrapper-btn {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 10px;
    padding-right: 16px;
 }


 .tweet-wrapper-btn .js-modal-open img {
    height: 40px;
    max-width: 40px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border-radius: 4px;
 }
 .tweet-wrapper-btn .delete img {
    height: 40px;
    max-width: 40px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border-radius: 4px;
 }

 .tweet-wrapper-btn .js-modal-open img:hover {
    transform: rotate(20deg);
 }
 .tweet-wrapper-btn .delete img:hover {
    transform: rotate(20deg);
 }
 .tweet-wrapper-btn div:first-child {
    margin-right: 0.3rem;
 }



 #mask {
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
 }

 #modal {
     background: #fff;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
     width: 400px;
     padding: 20px;
     border-radius: 4px;
     position: absolute;
     top: 40px;
     left: 0;
     right: 0;
     margin: 0 auto;
     transition: transform 0.4s;
 }

 #mask.hid {
     display: none;
 }

 #modal.hid {
     transform: translate(0, -500px);
 }

.modal_post {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100px;
}


/* カリキュラム参考 */
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    /* background: rgba(0, 0, 0, 0.8); */
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    border-radius: 4px;
    z-index: 5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.modal__content textarea {
    margin: 0 auto;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

.btn-zone {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 20px;
    margin: 0 auto;
    width: 100%;
}
/* .btn-zone .close {
    padding: 2px;
    margin: 2px;
}
.btn-zone .close:hover {
   background-color: #000;
   color: #fff;
} */
.btn-zone .edit-btn {
    width: 10%;
    border-radius: 4px;
}
.btn-zone .edit-btn:hover {
    transform: rotate(20deg);
}

.btn-zone .close-btn {
    position: absolute;
    top: 8%;
    left: 3%;
}
.dli-close {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
    transform: rotate(45deg);
}

.dli-close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
}

.post-errors {
        font-size: 14px;
            display: block;
            /* right: 240px; */
            padding: 8px 16px;
            color: red;
            text-align: right;
            margin-right: 0;
            margin-left: auto;
}


/* ハンバーガーボタン */


/* ドットインストール追加 */
.sp-menu {
    margin-left: auto;
}
.sp-menu:hover {
    filter: drop-shadow(0 0 6px rgb(255, 255, 255, 0.6));
}

.sp-menu #open {
    font-size: 32px;
    line-height: 64px;
    cursor: pointer;
}

.sp-menu #open.hide {
filter: drop-shadow(0 0 6px rgb(255, 255, 255, 0.6));
transition: opacity .6s;
}

.overlay.show {
    height: 100%;
    top: 70px;
    opacity: 1;
    pointer-events: auto;
    transition: opacity .6s;
    width: 100%;
    background: rgb(0, 0, 0, 0.2);
}

.overlay #close {
    opacity: 0;
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
}
.overlay .active {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
}

/* search画面 */

.search-all {
    width: 40%;
    margin: 0 auto;
}
.search-all .user-search {
    width: 100%;
    margin: 40px auto;
}
.search-all .user-search form {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.search-all .user-search input:nth-child(1) {
    border: none;
    width: 70%;
    background: #F2F2F2;
    border-radius: 2px;
}
.search-all .user-search input:nth-child(2) {
    width: 20%;
    text-align: center;
    font-weight: bold;
    background: #00AFE2;
    border: 2px solid #00AFE2;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
}
.search-all .user-search input:nth-child(2):hover {
    background: #fff;
    border-radius: 4px;
    border: 2px solid #00AFE2;
    color: #00AFE2;
    cursor: pointer;
    transition: 0.3s;
}
.search-all form {
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search .tweet-icon {
    margin: 0;
}

.search-list {
    display: flex;
    align-items: center;
}

.search-list img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.after-search {
    display: block;
    width: 200px;
    margin-left: 8px;
    color: #000;
    font-weight: bold;
}


.search-follow {
    display: flex;
}

.postbox {
    display: block;
    margin-top: 20px;
}

.createbox {
    display: block;
    margin: 66px auto 0;
}


.user-list-box {
    display: flex;
    align-items: center;
}

/* フォロー/フォロワーリスト */
.follow-list, .follower-list {
display: flex;
align-items: center;
margin: 24px 0;
}

.follow-list .title, .follower-list .title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 2em;
}
 .bold-line {
    background-color: rgb(239, 243, 244);
    height: 4px;
    margin-bottom: 4px;
}

.list-images .list-icon .top-list-images {
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.25));

}

.list-icon {
    margin-right: 1rem;
    filter: drop-shadow(2px 2px 2px rgb(3, 60, 60, 0.2));
    border-radius: 50%;
}


.follow-posts .post-list {
    display: flex;
    align-items: center;
}
.follow-posts .posts {
    margin: 1rem;
}
.follow-posts button {
    margin-left: 6rem;
}

.line {
    background-color: rgb(239, 243, 244);
    height: 1px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.follow-posts .nameAndDate {
   display: flex;
   justify-content: space-between;

}

.follow-posts .nameAndDate-child {
   display: block;
}
.follow-posts .nameAndDate-child {
   display: block;
}
.follow-posts .name-child {
font-weight: bold;
}
.date-child {
color: rgb(83, 100, 113);
position: absolute;
right: 28%;
font-size: 0.9rem;
}

.follow-posts .post {
    margin: 0.8rem 0;
}


/* フォローリスト後のプロフィール */

.profile {
    display: flex;
    align-items: center;
    height: 6rem;
    width: 90%;
}
.profile form{
    margin-right: 0;
    margin-left: auto;
}

.profile .usersProfile {
    margin: 1rem;
}

.profile .profileName {
    font-size: 1.2rem;
    font-weight: bold;
}
